@use "../utilities/variables" as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 10;
  background-color: $grey;
}

// .header-section-bg {
//   background-color: rgb(228, 230, 231, 0.8);
//   transition: 0.5s;
// }

.logo {
  width: 60px;
  margin-top: 0.5rem;
}
