@use "../utilities/variables" as *;

nav {
  background-color: $navBgColor;
  width: max-content;
  padding: 0.75rem;
  display: block;
  position: fixed;
  left: 50%;
  bottom: 2.5rem;
  z-index: 10;
  transform: translateX(-50%);
  border-radius: 3rem;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 1rem;

    li {
      a {
        background: transparent;
        padding: 0.5rem;
        border-radius: 50%;
        display: flex;
        color: $mobileNavLinkColor;

        &:hover {
          background-color: $mobileNavHoverColor;
          color: $mobileNavHoverTextColor;
        }

        &:active {
          background: $activeNavColor;
          color: $activeNav;
        }
      }
    }
  }
}

// Media Queries (Small Devices)
@media screen and (max-width: 600px) {
  nav {
    background-color: $navMobileBgColor;
    bottom: 0;
    width: 100%;
    border-radius: 0;

    ul {
      gap: 4rem;
    }
  }
}
