@use "../utilities/variables" as *;

.navbar-menu {
  display: flex;
}

.navbar-menu li {
  padding: 0 1rem;
}

.navbar-menu li a {
  font-size: 1.3rem;
  font-weight: 700;
}

.icon-desktop {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar-menu {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: $headerBg;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
  }

  .navbar-menu li {
    padding: 1rem 0;
  }

  .navbar-menu li a {
    font-size: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
  }

  .icon-desktop {
    display: initial;
  }
}
