// Scroll to top for Home page
@use "../utilities/variables" as *;

.scroll-to-top {
  position: fixed;
  bottom: 8rem;
  right: 10rem;
  color: $featureColor;
}

@media screen and (max-width: 1024px) {
  .scroll-to-top {
    right: 5rem;

    svg {
      width: 50px;
    }
  }
}

@media screen and (max-width: 600px) {
  .scroll-to-top {
    right: 1rem;
  }
}
