// Media Queries Responsive Sizes:

// Desktop Devices
.wrapper {
  width: var(--container-width-lg);
  margin: 0 auto;
}

// Media Queries (Medium Devices)
@media screen and (max-width: 1024px) {
  .wrapper {
    width: var(--container-width-md);
  }

  section {
    margin-top: 1rem;
  }
}

// Media Queries (Small Devices)
@media screen and (max-width: 600px) {
  .wrapper {
    width: var(--container-width-sm);
  }
}
