// Colors
$textColor: #092244;
$featureColor: #78b2cf;
$hover: #4c5990;
$linkColor: #8eb4bd;
$headerBg: #092244;
$socialIconColor: #274247;
$btnColor: #b09cff;
$btnHoverColor: #4b9152;
// $navHoverColor: #65b9d7;
$border: #e6e6e6;

// Mobile Nav Color:
$mobileNavBgColor: #092244;
$mobileNavLinkColor: #e6e6e6;
$mobileNavHoverColor: #8e94ac4d;
$activeNav: #282e36;
$activeNavColor: #475261;

// $sideNavBgColor: #161D30;
// Desktop Side Nav Color:
$sideNavBgColor: #2c3e5b;
$sideNavHoverColor: #65b9d7;
$sideActiveNavColor: #323639;
