// Colors
$textColor: #092244;
$featureColor: #65b9d7;
$headerBg: #092244;
$socialIconColor: #274247;
$btnColor: #e6e6e6;
$btnDarkColor: #092244;
$btnHoverColor: #65b9d7;
$btnPrimaryHover: #65b9d7;
$btnTextColor: #e6e6e6;
$lightBgColor: #e6e6e6;
$darkBgColor: #092244;

// a-link Color:
$hover: #65b9d7;
$linkColor: #feae4bcc;

// Navigation Color:
$navBgColor: rgb(9, 34, 68, 0.85);
$navMobileBgColor: #092244;
// Mobile Nav Color:
$mobileNavLinkColor: #e6e6e6;
$mobileNavHoverColor: #65b9d7;
$mobileNavHoverTextColor: #092244;
$activeNav: #e6e6e6;
$activeNavColor: #0c1a2d;

// Desktop Side Nav Color:
$sideNavBgColor: #2c3e5b;
$sideNavHoverColor: #65b9d7;
$sideActiveNavColor: #323639;
