* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

// html {
//   margin: 0 auto;
//   scroll-behavior: smooth;
// }

// :root {
//   --transition: all 500ms ease;

//   --container-width-lg: 65%;
//   --container-width-md: 85%;
//   --container-width-ms: 90%;
// }

::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
