@use "../utilities/variables" as *;

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --container-width-lg: 90%;
  --container-width-md: 85%;
  --container-width-sm: 90%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
