@use "./reset" as *;

// Color
$dark: #000000;
$light: #ffffff;
$blue: #7ae4ff;
$yellow: #feae4b;
$grey: #e3e1e13f;
$grey: rgb(237, 241, 243);
$lightGrey: rgb(101, 185, 215);
$lightYellow: rgb(254, 174, 75, 0.8);
$red: #ed2024;

// Type
$bodyFont: "NTR", sans-serif;
$headingFont: "Mukta Vaani", sans-serif;
