@use "../utilities/variables" as *;

h1,
h2,
h3,
h4,
h5 {
  font-size: 1rem;
  font-weight: 400;
  color: $textColor;
  font-family: $headingFont;
}

h1 {
  margin: 0;
  font-size: 2rem;
  font-family: $headingFont;
  color: $textColor;
  font-weight: 700;
}

p {
  font-size: 1rem;
  color: $textColor;
  margin: 0;
  font-family: $bodyFont;
}

a {
  color: black;
  transition: var(--transition);
  text-decoration: none;
  font-family: $bodyFont;
  cursor: pointer;
}

a:hover {
  color: $hover;
}

ul {
  list-style-type: none;
}

.icon-socials {
  color: $socialIconColor;
}

.btn {
  width: max-content;
  cursor: pointer;
  padding: 0.7rem 2rem;
  border-radius: 15px;
  color: $btnDarkColor;
  background: $darkBgColor;
  transition: var(--transition);
  border: 1px solid $btnColor;
  margin: 0 auto;
  overflow: hidden;
  transition: all 0.3s ease;

  &:hover {
    background: $btnHoverColor;
    border-color: transparent;
  }
}

.btn-primary {
  color: $btnDarkColor;
  background: $btnPrimaryHover;
}
