@use "../utilities/variables" as *;

.contact-wrapper {
  .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    width: 35rem;
    padding: 2rem 0 3rem 0;

    .connect {
      h4 {
        font-size: 2.5rem;
        font-weight: 900;
      }
    }

    p {
      font-size: 1.5rem;
      padding-bottom: 2rem;
      color: $textColor;
    }

    .contact-info {
      text-align: left;
    }
  }

  .header-socials {
    padding: 0 0 0.5rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;

    svg {
      &:hover,
      &:focus,
      &:active {
        color: $lightGrey;
      }
    }
  }

  .email-container {
    p {
      color: $textColor;
      font-weight: 600;
      padding: 1rem 0;
    }

    // A-link button styling modified from
    // Codepen source: https://codepen.io/avstorm/pen/oqKbLq
    // ----- Starting here (Codepen animated button)
    a {
      text-decoration: none;
      color: inherit;
    }

    .cta {
      position: relative;
      padding: 0.4rem 0.5rem;
      transition: all 0.2s ease;
      color: $lightYellow;
    }
    .cta:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      border-radius: 1.75rem;
      background: rgba(101, 185, 215, 0.6);
      width: 2.5rem;
      height: 2.5rem;
      transition: all 0.3s ease;
    }
    .cta span {
      position: relative;
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: bold;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      vertical-align: middle;
    }
    .cta svg {
      position: relative;
      top: 0;
      margin-left: 0.5rem;
      fill: none;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke: #000b29;
      stroke-width: 2;
      transform: translateX(-5px);
      transition: all 0.3s ease;
    }
    .cta:hover:before {
      width: 100%;
      background: rgba(101, 185, 215, 0.6);
    }
    .cta:hover svg {
      transform: translateX(0);
    }
    .cta:active {
      transform: scale(0.96);
    }
    // ----- Ending here (Codepen animated button)
  }
}

@media screen and (max-width: 1024px) {
  .contact-wrapper {
    .contact-container {
      width: 30rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .contact-wrapper {
    .contact-container {
      width: 80%;

      .contact-info {
        .connect {
          h4 {
            font-size: 2rem;
          }
        }
        p {
          font-size: 1rem;
          // padding-bottom: 1rem;
        }
      }

      .header-socials {
        gap: 2rem;

        svg {
          width: 35px;
        }
      }

      .email-container {
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
}
