// Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@400;800&family=NTR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap");

/*
font-family: 'Mukta Vaani', sans-serif;
font-family: 'NTR', sans-serif;
font-family: 'Zen Dots', cursive;
*/

// Base
@import "../scss/base/reset.scss";
@import "../scss/base/settings.scss";
@import "../scss/base/type.scss";

// Components
@import "../scss/components/body.scss";
@import "../scss/components/header.scss";
@import "../scss/components/nav-bar.scss";
@import "../scss/components/footer.scss";
@import "../scss/components/scroll-to-top.scss";
@import "../scss/components/carousel.scss";
@import "../scss/components/wrapper.scss";

// Pages
@import "../scss/pages/about.scss";
@import "../scss/pages/contact.scss";
@import "../scss/pages/work.scss";
@import "../scss/pages/single-work.scss";
@import "../scss/pages/404.scss";

// Utilities
@import "../scss/utilities/sr-only.scss";
@import "../scss/utilities/variables.scss";
